<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
        Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <display-name>MainServlet</display-name>
        <description>main</description>
        <servlet-class>MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <display-name>Register</display-name>
        <description>regist</description>
        <servlet-class>servlet.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LendApprove</servlet-name>
        <display-name>LendApprove</display-name>
        <description>approve</description>
        <servlet-class>servlet.LendApprove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LendApprove</servlet-name>
        <url-pattern>/LendApprove</url-pattern>
    </servlet-mapping>
</web-app>
